[Unit]
Description=Run Autopoiesis command executor frequently
PartOf=autopoiesis.target

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
Persistent=true
Unit=autopoiesis-command-executor.service

[Install]
WantedBy=timers.target
